<h1>New User</h1>

<form id="new-user" method="post" action="/admin/users">
  <div class="form-group">
    <p class="required">
      <label for="name">Name</label>
      <input type="text" name="user[name]" value="<%= user.name %>" placeholder="Name" class="form-control" required>
    </p>
  </div>
  <div class="form-group">
    <p>
      <label for="age">Age</label>
      <input type="text" name="user[age]" value="<%= user.age %>" placeholder="Age" class="form-control" required>
    </p>
  </div>

  <p class="buttons">
    <button type="submit" class="btn btn-default">Create</button> or <a href="/admin/users" class="btn btn-default">Back</a>
  </p>
</form>
